/* Photo by Lore Schodts on Unsplash */
body {
    background: url("../images/lore-schodts-lot7hGhPRQ4-unsplash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Navigation bar*/
.navbar {
    background-color: #d49a48;
}

.colVerticalCenter {
    margin-top: auto;
    margin-bottom: auto;
}
.titleText {
    font-size: 10vw;
}
.textOverline {
    text-decoration: overline;
}
.navButtons {
    text-decoration: underline;
}
.collage {
    max-width: 200px;
}
