/* Photo by Lore Schodts on Unsplash */
body {
    background: url("../assets/img/lore-schodts-lot7hGhPRQ4-unsplash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Navigation bar*/
.navbar {
    background-color: #d49a48;
}

.titleText {
    font-size: 7vw;
}
.colVerticalCenter {
    margin-top: auto;
    margin-bottom: auto;
}
.content {
    border: 5px solid #ffffff;
    border-radius: 30px;
    max-width: 300px;
}