/* Photo by Lore Schodts on Unsplash */
body {
    background: url("../assets/img/lore-schodts-lot7hGhPRQ4-unsplash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Navigation bar*/
.navbar {
    background-color: #d49a48;
}

.colVerticalCenter {
    margin-top: auto;
    margin-bottom: auto;
}
.content {
    border: 5px solid #ffffff;
    border-radius: 30px;
}
.titleText {
    font-size: 3rem;
}
.bi-envelope-fill {
    /* adjust icon placement */
    position: relative;
    top: 4px;
}
.contactTextColour {
    color: #d49a48;
}
.longWord {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for WebKit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
