body { 
    background: url("../DSC05090.JPG") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/*Navigation bar*/
#pageNav {
  background-color: #d49a48;
}

.content {
    margin: 10vh 0;
    background-color: #ffdfb5;
    border-radius: 30px;
}
